.container{
    // gap: 12px;
    box-sizing: border-box;
    padding: 24px;
    position: relative;
}
.project-item-menu{
    background-color: rgba(210, 212, 218, 0.1);
    height: 100%;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    // hidden scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
    color: #333;
    margin-bottom: 12px;
    overflow: hidden;
    border-bottom-right-radius: 8px;
    box-shadow:inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
}
.project-item-menu-item{
    cursor: pointer;
    & + & {
        margin-top: 8px;      
    }
    &:hover{
        opacity: 0.8;
    }
}
.project-item:hover .project-item-menu{
    display: block;
}
.project-add{
    height: 100px;
    background-color: #F0F0F0;
    font-size: 50px;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.project-item-title-container{
    background-color: #fff;
    text-align: center;
    font-weight: bold;

    box-shadow:inset 0 0 1px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    overflow: hidden;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.project-item-title{
    padding: 4px 0;
    background-color: rgba(210, 212, 218, 0.3);
}