.container{
    display: grid;
    gap: 12px;
    box-sizing: border-box;
    grid-template-rows: auto;
    padding: 24px;
}
.project-item{
    height: 100%;
    background-color: #A0F0A0;
    display: grid;
    place-items: center;
    position: relative;
    border-radius:  8px;
    overflow: hidden;
    // hover  占 2row 1col  2行1列
    &:hover{
        grid-row: span 3 ;
    } 
}
.project-item-menu{
    background-color: #F0F0F0;
    height: 100%;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    // hidden scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
    color: #333;

}
.project-item-menu-item{
    cursor: pointer;
    & + & {
        margin-top: 8px;      
    }
    &:hover{
        opacity: 0.8;
    }
}
.project-item:hover .project-item-menu{
    display: block;
}
.project-add{
    height: 100px;
    background-color: #F0F0F0;
    font-size: 50px;
    display: grid;
    place-items: center;
    cursor: pointer;
}