.container {
    width: 100%;
    height: calc(100vh);
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-areas:
        "header header"
        "menu main";
    grid-template-rows: auto 1fr;
    /* 定义行高 */
    overflow: hidden;
}
.header {
    grid-area: header;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    background-color: #fff;
    z-index: 1;

    .title {
        // margin-right: auto;
        flex: 1;
        font-size: 16px;
        color: rgba(0, 0, 0, .85);
        display: flex;
        gap: 8px;
    }

    .title-content {
        -webkit-app-region: drag;
        flex: 1
    }

    .right {}
}

.main {
    grid-area: main;
    height: calc(100vh - 32px);
}

.menu {
    grid-area: menu;

    background-color: #fff;

    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, .1);
    overflow: auto;

}

.logo {
    vertical-align: -2px;
    display: inline-block;
}

.el-icon {
    &+.el-icon {
        margin-left: 10px;
    }
}
