.container {
    width: 345px;
    height: 485px;
    display: grid;
    grid-template-areas:
        "main"
        "footer";
    grid-template-rows: 1fr auto;
    /* 定义行高 */
    overflow: hidden;
}
.header {
    grid-area: header;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    background-color: #fff;
    z-index: 1;

    .title {
        // margin-right: auto;
        flex: 1;
        font-size: 16px;
        color: rgba(0, 0, 0, .85);
        display: flex;
        gap: 8px;
    }

    .title-content {
        -webkit-app-region: drag;
        flex: 1
    }

    .right {}
}

.main {
    grid-area: main;
    height: calc(100vh - 32px);
}
.footer {
    grid-area: footer;
    height: 32px;
}


.logo {
    vertical-align: -2px;
    display: inline-block;
}

.el-icon {
    &+.el-icon {
        margin-left: 10px;
    }
}
